body {
  background-color: #7c6fdc;
  color: white;
}
main {
  /* align-content: center; */
  box-sizing: border-box;
  /* display: grid; */
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 50px 20px;
  /* text-align: center; */
}
h1 {
  font-size: 45px;
}
h3 {
  font-size: large;
}

p {
  font-size: 1rem;
}
a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  /* border-bottom: 2px solid black; */
  transition: all 0.2s ease;
  /* background: crimson; */
  /* padding: 0 5px 0 5px; */
}
a:hover {
  /* border-bottom: 1px solid #ffffff; */
  color: #ffffff;
}

mono {
  font-family: monospace;
  font-size: 15px;
}
