---
import Layout from "../layouts/Layout.astro";
---

<!-- ---
return Astro.redirect('https://noco.lio.systems/dashboard/#/nc/form/0faa622a-9e8e-41e1-bc78-9cae82917fc2')
--- -->
<Layout title="Safe to Stream">
  <p>
    The Form is currently unavailable.
    <br>
    You can send me an email at <a href="mailto:sts@lio.cat">sts[at]lio.cat</a> and I'll get back to you as soon as I can. 
  </p>
</Layout>
