---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Safe to Stream">
  <main>
    <p>
      The First Version of this Site was announced back in November of 2020,
      following a huge wave of DMCA Takedown requests against a lot of Twitch
      Streamers in October.
      <br />
      <br />

      A few of <a href="http://shard.wtf">my</a> Friends are Streamers, so I found
      it useful to provide them with a resource where they don't have to worry about
      their VODs being taken down, for whatever reason.
      <br />
      <br />

      Sadly I've been neglecting the Site the last few Years, due to my Personal
      Life getting rather busy/exhausting. Many of the Links on the old Version
      are either Dead, have been discontinued, or redirect somewhere else now.
      <br />
      <br />

      Since I was still paying for this Domain and was sick of the ugly attempt
      of Neumorphism on the Old Version, I decided to <i>finally</i> redo the entire
      Site and make it easier to actually submit do be added (see Form Link at the
      top)
      <br />
      <br />
      So that's why this site exists and why it will hopefully get more Submissions
      than the previous Version.
    </p>
  </main>
</Layout>

<style lang="sass">
  main
    background-color: var(--page-color)

  a
    color: #ff1919
</style>
